.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: calc(100% - 30px);
  height: 50px;
  background: #fcfcfc;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
