.mainbody {
  border: 1px solid #ddd;
  position: fixed;
  top: 50px;
  left: 60px;
  overflow-x: hidden;
  padding: 15px 75px;
  width: calc(100% - 212px);
  height: calc(100% - 82px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.write {
  width: 100%;
  max-width: 750px;
  padding: 20px 40px;
  border-radius: 10px;
}
.write * {
  user-select: text;
  -webkit-user-select: text;
}
/*
MeetPatel1706, [26-Oct-22 2:08 PM]
Todo
Youtube videos player in header
Dual account
Note editing page
Password for login
profile
Live clock in header
Sidebar that highlights notes headings separately
*/
