.mainbody {
  background-color: #fff;
  border: 1px solid #ddd;
  position: fixed;
  top: 50px;
  left: 60px;
  overflow-x: hidden;
  padding: 15px 75px;
  width: calc(100% - 212px);
  height: calc(100% - 82px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.write {
  width: 100%;
  max-width: 750px;
}
