@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: inter;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  text-shadow: 0 0 1.5px #ddd;
}
html,
body,
.viewport {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  /* background: url(../images/main-bg.png); */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100%;
}
@media screen and (min-aspect-ratio: 1/1) {
  body {
    background-position: top right;
    background-size: 105% auto;
  }
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: transparent;
  z-index: 100;
  border: 1px solid rgb(64 64 64);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 20px rgb(64 64 64);
  pointer-events: none;
}
.dead-link {
  color: inherit !important;
  text-decoration: inherit !important;
}
h1 {
  font-size: 2.25rem !important;
  font-weight: 700;
  margin: 20px 0;
}
h2 {
  font-size: 1.75rem !important;
  font-weight: 700;
  margin: 20px 0;
}
h3 {
  font-size: 1.5rem !important;
  font-weight: 700;
  margin: 20px 0;
}
h4 {
  font-size: 1.25rem !important;
  font-weight: 700;
  margin: 20px 0;
}
p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
}
a {
  margin: 10px 0;
  color: #008aff;
  text-decoration: underline;
}
a:visited {
  color: #008aff;
}
li {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 5px 0;
}
blockquote {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 2px;
  padding: 0px 20px;
  display: flex;
  position: relative;
}
blockquote ::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 0;
  width: 4px;
  height: calc(100% - 10px);
  background: #bdbdbd;
}
hr {
  border: 1px solid rgb(218, 218, 218);
  margin: 20px 0;
}
strong {
  font-weight: 700 !important;
}
iframe {
  width: 750px;
  height: 420px;
  border: none;
  border-radius: 10px;
}
.spotify-iframe {
  width: 100%;
  height: 190px;
  border: none;
  border-radius: 10px;
  margin-bottom: -30px;
}
code {
  font-family: "Fira Code", monospace;
  padding: 3px 8px;
  line-height: 1.75;
  background: #f5f5f5;
  border-radius: 5px;
}
pre {
  font-family: "Fira Code", monospace;
  padding: 10px 20px;
  line-height: 2;
  background: #f5f5f5;
  border-radius: 5px;
  overflow-x: auto;
}
pre code {
  font-family: "Fira Code", monospace;
  padding: 0 !important;
  line-height: 2;
  background: #f5f5f5;
  border-radius: 5px;
}
input {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  background: #f6f6f6;
  line-height: 1.5;
  margin: 10px 0;
  padding: 10px 20px;
  border: 1px solid #00000000;
  border-radius: 5px;
  outline: none;
}
input:hover {
  border: 1px solid #ddd;
}
textarea {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: 300px;
  margin: 10px 0;
  padding: 10px 20px;
  background: #f6f6f6;
  border: 1px solid #00000000;
  border-radius: 5px;
  outline: none;
}
textarea:hover {
  border: 1px solid #ddd;
}
button {
  padding: 10px 20px;
  background: #f6f6f6;
  border: 1px solid #00000000;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
  cursor: pointer;
}
button:hover {
  background: #ddd;
}
/*content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100vh;
  background: #008aff;*/
