@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
:root {

  default light

  --main-theme-color: #2685e9cc;
  --main-theme-color-transparent: #2685e911;
  --main-font-color: #1c1b28;
  --main-font-color-transparent: #1c1b2844;
  --main-bgcolor-fainted: #f9f9fb;
  --main-bgcolor: #e3e2ec;
  --main-bgcolor-shade-3: #ececf3;
  --main-bgcolor-fainted-light: #a09fab22;
  --blur-color: #ffffff77;
  --main-homepage-background-image: url("");

  default dark

  --main-theme-color: #8d80cf;
  --main-theme-color-transparent: #8d80cf33;
  --main-font-color: #fcfcfe;
  --main-font-color-transparent: #fcfcfe44;
  --main-bgcolor-fainted: #383548;
  --main-bgcolor: #181623;
  --main-bgcolor-shade-3: #232031;
  --main-bgcolor-fainted-light: #383548aa;
  --blur-color: #000000aa;
}
*/
* {
  font-family: inter;
  transition: 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 1px var(--main-font-color);
}
*::placeholder {
  color: var(--main-font-color-transparent);
  text-shadow: 0px 0px 1px var(--main-font-color-transparent);
}
html,
body,
.viewport {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-color: var(--main-bgcolor);
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: transparent;
  z-index: 100;
  border: 1px solid rgb(64 64 64);
  border-radius: 15px;
  box-shadow: 0px 0px 0px 20px rgb(64 64 64);
  pointer-events: none;
}
svg {
  width: 22px;
  height: 22px;
  fill: var(--main-theme-color);
  filter: drop-shadow(0 0 2px var(--main-theme-color));
}
.dead-link {
  color: inherit !important;
  text-decoration: inherit !important;
}
h1 {
  font-size: 40px !important;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 22px 0;
}
h2 {
  font-size: 30px !important;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0;
}
h3 {
  font-size: 22px !important;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 20px 0;
}
h4 {
  font-size: 16px !important;
  font-weight: 600;
  margin: 20px 0;
}
p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.75;
  margin: 10px 0;
}
a {
  margin: 10px 0;
  color: var(--main-theme-color);
  text-shadow: 0px 0px 1px var(--main-theme-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  position: relative;
}
li {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin: 5px 0;
  position: relative;
}
ul li {
  list-style: element("•");
}
li::marker {
  color: var(--main-theme-color);
  font-size: 25px;
}
ul li::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -21px;
  width: 0px;
  border: 2px solid var(--main-theme-color);
  border-style: dashed;
  height: calc(100% - 3px);
}
ul li:first-child::before {
  content: "";
  position: absolute;
  top: 17px;
  left: -21px;
  width: 0px;
  border: 2px solid var(--main-theme-color);
  border-style: dashed;
  height: calc(100% - 13px);
}
ul li:last-child::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -21px;
  width: 0px;
  border: 2px solid var(--main-theme-color);
  border-style: dashed;
  height: calc(100% - 30px);
}
blockquote {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
  padding: 0px 20px;
  display: flex;
  position: relative;
}
blockquote ::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 0;
  width: 4px;
  height: calc(100% - 10px);
  background: var(--main-theme-color);
}
hr {
  border: 1px solid var(--main-theme-color);
  margin: 20px 0;
}
strong {
  font-weight: 700 !important;
}
iframe {
  width: 100%;
  height: 450px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
}
img {
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}
.spotify-iframe {
  width: 100%;
  height: 190px;
  border: none;
  border-radius: 10px;
  margin-bottom: -10px;
}
code {
  font-family: "Fira Code", monospace;
  padding: 3px 8px;
  line-height: 1.5;
  background: var(--main-bgcolor-fainted);
  border-radius: 5px;
}
pre {
  font-family: "Fira Code", monospace;
  padding: 10px 20px;
  line-height: 1.6;
  background: var(--main-bgcolor-fainted);
  border-radius: 5px;
  overflow-x: auto;
}
pre code {
  font-family: "Fira Code", monospace;
  padding: 0 !important;
  line-height: 1.6;
  background: var(--main-bgcolor-fainted);
  border-radius: 5px;
}
input {
  font-size: 17px;
  font-weight: 400;
  width: calc(100% - 40px);
  background: var(--main-bgcolor-fainted) !important;
  margin: 10px 0;
  padding: 15px 20px;
  color: var(--main-font-color);
  border: none;
  border-radius: 12px;
  outline: none;
  text-shadow: inherit;
}
input:hover {
  border: none;
}
input::selection {
  background: var(--main-theme-color) !important;
  color: var(--main-font-color);
}
textarea {
  font-size: 17px;
  font-weight: 400;
  width: calc(100% - 40px);
  height: 600px;
  margin: 10px 0;
  padding: 15px 20px;
  background: var(--main-bgcolor-fainted) !important;
  color: var(--main-font-color);
  border: none;
  line-height: 1.6;
  border-radius: 12px;
  outline: none;
}
textarea:hover {
  border: none;
}
textarea::selection {
  background: var(--main-theme-color) !important;
  color: var(--main-font-color);
}
button {
  padding: 10px 20px;
  background: var(--main-bgcolor-fainted);
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  margin: 10px 0;
  color: var(--main-font-color);
  cursor: pointer;
}
button:hover {
  background: var(--main-theme-color);
}
